<?xml version="1.0" encoding="UTF-8"?>
<Hud name="MainMenu">
    <GuiElement positionX="850" positionY="690" scale="1">
        <Button name="MainMenuUI/Play" width="300" height = "90"/>
    </GuiElement>
    <GuiElement positionX="850" positionY="790" scale="1">
        <Button name="MainMenuUI/QuitToDesktop" width="300" height = "90"/>
    </GuiElement>
    <GuiElement positionX="5" positionY="1045" scale="0,8">
        <Text name="text" fontSize="1" fontStyle="Arial">Build 26062025</Text>
    </GuiElement>
    <GuiElement positionX="850" positionY="10" scale="0,25">
        <Image name="thrab_logo"/>
    </GuiElement>
</Hud>